body,
html {
  margin: 0px;
  padding: 0px;
  font-family: "inter", sans-serif;
  font-size: clamp(12px, 1vw + 0.5rem, 14px);
}

* {
  box-sizing: border-box;
}
.header {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  font-family: "inter", sans-serif;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-width: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.p_logo {
  border-style: solid;
  border-color: #155dfc;
  background-color: #155dfc;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  font-size: 20px;
  text-shadow: 0px 4px 4px #564f4f;
}

.hamburger {
  width: 24px;
  height: 24px;
  color: #155dfc;
  position: absolute;
}

.close {
  width: 24px;
  height: 24px;
  color: #155dfc;
  position: absolute;
  display: none;
}

.icon_holder {
  position: relative;
  right: 5%;
  top: -10px;
}

.nav_container {
  background-color: #dbeafe;
  margin-top: -6px;
  display: none;
}

.nav_mobile {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  margin-left: 22px;
  color: #7a7272;
}

.nav_mobile li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #564f4f;
}

.a:hover {
  color: #155dfc;
}

a:visited {
  color: pink;
}

.nav {
  display: none;
  flex-direction: row;
  max-width: 305px;
  gap: 32px;
  font-size: 14px;
  font-weight: 400;
}

.sign {
  display: none;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500px;
  gap: 16px;
  align-items: center;
}

.started {
  border-style: solid;
  border-color: #155dfc;
  background-color: #155dfc;
  border-radius: 20px;
  width: 102px;
  height: 36px;
  color: white;
}

.line {
  border: none;
  height: 1px;
  background-color: #7a7272;
}
.section1 {
  display: flex;
  background-color: #eff6ff;
  margin-top: -6px;
  width: 100vw;
  padding: 30px 15px;
}

.card1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.intro {
  color: #193cb8;
  border: 1px solid #dbeafe;
  border-radius: 10px;
  max-width: 167px;
  max-height: 28px;
  background-color: #dbeafe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading1 {
  font-size: 12vw;
  font-weight: 700;
}

.heading2 {
  font-size: 4vw;
  font-weight: 300;
}

.explore_products {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 24px;
  font-size: 4vw;
}

.products_cards {
  border: 1px solid #155dfc;
  width: 45vw;
  height: 48px;
  background-color: #155dfc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}
.products_cards:hover {
  opacity: 80%;
}
.watch_video {
  border: 1px solid #155dfc;
  width: 35vw;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #155dfc;
}

.watch_video:hover {
  background-color: #dbeafe;
}

.ratings {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin-top: 40px;
}

.rating_images {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.user {
  border-radius: 50%;
  max-width: 30px;
  max-height: 30px;
  width: 9vw;
  height: 9vw;
  border: 2px solid white;
  margin-left: -8px;
}

.stars {
  display: flex;
  flex-direction: row;
}

.star {
  color: gold;
}

.no-star {
  color: black;
}

.reviews_content {
  line-height: 20px;
  font-weight: 300;
  height: 20px;
  font-size: 3vw;
}

span {
  font-weight: 500;
  font-size: 3vw;
}

.card2 {
  display: none;
  flex-direction: column;
  gap: 26px;
  margin-top: 86px;
}

.pill1 {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: clamp(160px, 25.23vw, 323px);
  height: 56px;
  font-size: 14px;
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding-left: 12px;
  box-shadow: 0px 4px 4px rgb(193, 188, 188);
  margin-left: 162px;
  margin-right: 14px;
}

.pill1_icon {
  border: 1px solid #eff6ff;
  border-radius: 50%;
  background-color: #eff6ff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  width: 16px;
  height: 16px;
}

.pill2 {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: clamp(200px, 33.75vw, 432px);
  height: 56px;
  font-size: 14px;
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding-left: 12px;
  margin-left: 53px;
  margin-right: 46px;
  box-shadow: 0px 4px 4px rgb(193, 188, 188);
}

.pill2_icon {
  border: 1px solid #f3e8ff;
  border-radius: 50%;
  background-color: #f3e8ff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100vw;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: clamp(16px, 6vw, 96px);
  padding-right: clamp(16px, 6vw, 96px);
}

.card {
  border: 1px solid #f3f4f6;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_icon {
  border: solid 1px #dbeafe;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #dbeafe;
}

.icon_wrapper {
  border: 1px solid #eff6ff;
  border-radius: 50%;
  background-color: #eff6ff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_heading {
  font-size: 14px;
  font-weight: 600;
}

.card_cntent {
  font-size: 11px;
  font-weight: 300;
}

.section2_heading {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading3 {
  font-size: 24px;
  font-weight: 700;
}

.heading3 span {
  color: #155dfc;
  font-size: 24px;
  font-weight: 700;
}

.heading4 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.section3 {
  background-color: #f9fafb;
  width: 100vw;
  padding: 32px 20px;
}

.section3_heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.heading5 {
  font-size: 24px;
  font-weight: 600;
}
.heading6 {
  font-size: 11px;
  font-weight: 300;
  text-align: center;
}

.section3_pills {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.options {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  font-size: 10px;
}
.options:hover {
  background-color: #155dfc;
  cursor: pointer;
  color: #ffffff;
}

.photo_container {
  display: grid;
  width: 100%;
  border: solid 1px transparent;
  border-radius: 30px;
  justify-self: center;
  align-self: center;
}

.photo_grid {
  display: grid;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.photo_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 0 0 30px 30px; /* top-left, top-right, bottom-right, bottom-left */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.photo_img {
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.08);
  width: 100%;
  border-radius: 30px;
  border-radius: 30px 30px 0 0; /* top-left, top-right, bottom-right, bottom-left */
}

.imageWrap {
  position: relative;
}

.discount {
  font-size: 10px;
  color: white;
  position: absolute;
  border: 1px solid #fb2c36;
  border-radius: 30px;
  background-color: #fb2c36;
  padding: 2px 4px;
  top: 7%;
  left: 75%;
}

.categories {
  color: #155dfc;
  font-size: 12px;
  font-weight: 400;
}

.item {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.description {
  font-size: 12px;
  font-weight: 200;
  line-height: 20px;
}

.cost {
  font-weight: 700;
  font-size: 16px;
}

.costs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.costWrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.slash_price {
  color: #6a7282;
  font-size: 10px;
  text-decoration: line-through;
}
.item_rating {
  font-size: 12px;
  font-weight: 200;
  line-height: 20px;
}

.rating_star {
  width: 10px;
  height: 10px;
  margin-top: 4px;
}

.rating_wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.view_wrap {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  width: 90%;
  max-width: 520px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  padding: 10px 0px;
}

.view_wrap:hover {
  background-color: #f3f4f6;
  border-color: #f3f4f6;
}

.right_icon {
  width: 16px;
  height: 16px;
}

.section4 {
  display: flex;
  width: 100vw;
  padding: 20px 50px;
  background-color: #1e2939;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.footer_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  color: white;
  margin-top: 10px;
}

.footer_heading {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

.list {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #99a1af;
}

.title_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: center;
  margin-bottom: 5px;
}

.footer_logo {
  border: 1px solid #155dfc;
  background-color: #155dfc;
  border-radius: 100%;
  padding: 2px 0px;
  font-size: 14px;
  margin-bottom: 5px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: -10px;
}

.facebook,
.twitter,
.instagram,
.linkin {
  display: flex;
  width: 12px;
  height: 18px;
  border: 1px solid #99a1af;
  background-color: #99a1af;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 3px 1px;
}

.section5 {
  width: 100vw;
  background-color: #1e2939;
  display: flex;
  flex-direction: row;
  color: #6a7282;
  font-size: 12px;
  padding: 10px 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  font-size: 8px;
  padding: 10px 20px;
  border-top: 1px solid #6a7282;
  justify-content: space-between;
  width: 100%;
}

.footer_list {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.footer span {
  font-size: 8px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    font-family: "inter", sans-serif;
    height: 68px;
    align-items: center;
  }

  .icon_holder {
    display: none;
  }

  .logo {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .p_logo {
    border-style: solid;
    border-color: #155dfc;
    background-color: #155dfc;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product {
    font-size: 20px;
    text-shadow: 0px 4px 4px #564f4f;
  }

  .nav {
    display: flex;
    flex-direction: row;

    gap: 32px;
    font-size: 14px;
    font-weight: 400;
  }

  .explore_products {
    font-size: 14px;
  }

  .reviews_content {
    font-size: 14px;
  }
  .sign {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500px;
    gap: 16px;
    align-items: center;
  }

  .started {
    border-style: solid;
    border-color: #155dfc;
    background-color: #155dfc;
    border-radius: 20px;
    width: 102px;
    height: 36px;
    color: white;
  }

  .line {
    border: none;
    height: 1px;
    background-color: #7a7272;
  }

  .section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 300px;
    padding-left: clamp(16px, 6vw, 96px);
    padding-right: clamp(16px, 6vw, 96px);
    background-color: #eff6ff;
    margin-top: -6px;
    width: 100vw;
  }

  .card1 {
    max-height: 80px;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .intro {
    color: #193cb8;
    border: 1px solid #dbeafe;
    border-radius: 10px;
    max-width: 167px;
    max-height: 28px;
    background-color: #dbeafe;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heading1 {
    font-size: clamp(36px, 5vw + 1rem, 60px);

    font-weight: 700;
    /* max-width: 540px;
    max-height: 225px; */
  }

  .heading2 {
    font-size: clamp(16px, 1.5vw + 0.5rem, 18px);

    font-weight: 300;
    /* max-width: 540px;
    max-height: 84px; */
  }

  .explore_products {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 24px;
  }

  .products_cards {
    border: 1px solid #155dfc;
    width: 195px;
    height: 48px;
    background-color: #155dfc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
  }

  .watch_video {
    border: 1px solid #155dfc;
    width: 158px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #155dfc;
  }

  .ratings {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 40px;
  }

  .rating_images {
    display: flex;
    flex-direction: row;

    margin-left: 8px;
  }

  .user {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    margin-left: -8px;
  }

  .stars {
    display: flex;
    flex-direction: row;
  }

  .star {
    color: gold;
  }

  .no-star {
    color: black;
  }

  .reviews_content {
    line-height: 20px;
    font-weight: 300;
    width: 214px;
    height: 20px;
  }

  span {
    font-weight: 500;
    font-size: 14px;
  }

  .card2 {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 86px;
    /* max-width: 500px;
    max-height: 529px; */
  }

  .pill1 {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: clamp(160px, 25.23vw, 323px);
    height: 56px;
    font-size: 14px;
    border-radius: 28px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    padding-left: 12px;
    box-shadow: 0px 4px 4px rgb(193, 188, 188);
    margin-left: 162px;
    margin-right: 14px;
  }

  .pill1_icon {
    border: 1px solid #eff6ff;
    border-radius: 50%;
    background-color: #eff6ff;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .check {
    width: 16px;
    height: 16px;
  }

  .pill2 {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: clamp(200px, 33.75vw, 432px);
    height: 56px;
    font-size: 14px;
    border-radius: 28px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    padding-left: 12px;
    margin-left: 53px;
    margin-right: 46px;
    box-shadow: 0px 4px 4px rgb(193, 188, 188);
  }

  .pill2_icon {
    border: 1px solid #f3e8ff;
    border-radius: 50%;
    background-color: #f3e8ff;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section2 {
    background-color: #ffffff;
    width: 100vw;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: clamp(16px, 6vw, 96px);
    padding-right: clamp(16px, 6vw, 96px);
  }

  .section2_heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .heading3 {
    font-size: 36px;
    font-weight: 700;
  }

  .heading3 span {
    color: #155dfc;
    font-size: 36px;
    font-weight: 700;
  }

  .heading4 {
    font-size: 18px;
    font-weight: 400;
  }

  .heading5 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
  }
  .heading6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: #364153;
  }
  .section3 {
    background-color: #f9fafb;
    width: 100vw;
  }

  .section3_pills {
    max-width: 599px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-self: center;
    align-self: center;
  }

  .options {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
  }
  .options:hover {
    background-color: #155dfc;
    cursor: pointer;
    color: #ffffff;
  }

  .photo_container {
    width: 80%;
    border: solid 1px transparent;
    border-radius: 30px;
  }

  .photo_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px 84px;
  }

  .photo_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 0 0 30px 30px; /* top-left, top-right, bottom-right, bottom-left */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  }

  .photo_img {
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.08);
    width: 100%;
    border-radius: 30px;
    border-radius: 30px 30px 0 0; /* top-left, top-right, bottom-right, bottom-left */
  }

  .imageWrap {
    position: relative;
  }

  .discount {
    font-size: 10px;
    color: white;
    position: absolute;
    border: 1px solid #fb2c36;
    border-radius: 30px;
    background-color: #fb2c36;
    padding: 2px 4px;
    top: 7%;
    left: 75%;
  }

  .categories {
    color: #155dfc;
    font-size: 12px;
    font-weight: 400;
  }

  .item {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
  }

  .description {
    font-size: 12px;
    font-weight: 200;
    line-height: 20px;
  }

  .cost {
    font-weight: 700;
    font-size: 16px;
  }

  .costs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .costWrap {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }

  .slash_price {
    color: #6a7282;
    font-size: 10px;
    text-decoration: line-through;
  }
  .item_rating {
    font-size: 12px;
    font-weight: 200;
    line-height: 20px;
  }

  .rating_star {
    width: 10px;
    height: 10px;
    margin-top: 4px;
  }

  .rating_wrap {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .view_wrap {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    width: 20%;
    max-width: 520px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    padding: 10px 0px;
  }

  .view_wrap:hover {
    background-color: #f3f4f6;
    border-color: #f3f4f6;
  }

  .right_icon {
    width: 16px;
    height: 16px;
  }

  .section4 {
    width: 100vw;
    background-color: #1e2939;
  }

  .footer_grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    gap: 30px;
    color: white;
    margin-top: 10px;
  }

  .footer_heading {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .list {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #99a1af;
    width: 192px;
  }

  .title_wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 5px;
  }

  .footer_logo {
    border: 1px solid #155dfc;
    background-color: #155dfc;
    border-radius: 100%;
    padding: 2px 0px;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .socials {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: -10px;
  }

  .facebook,
  .twitter,
  .instagram,
  .linkin {
    display: flex;
    width: 20px;
    height: 40px;
    border: 1px solid #99a1af;
    background-color: #99a1af;
    border-radius: 40%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px 4px;
  }

  .section5 {
    width: 100vw;
    background-color: #1e2939;
    display: flex;
    flex-direction: row;
    color: #6a7282;
    font-size: 12px;
    padding: 10px 20px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding: 10px 20px;
    border-top: 1px solid #6a7282;
    justify-content: space-between;
    width: 100%;
  }

  .footer_list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .footer span {
    font-size: 14px;
  }

  .break {
    display: none;
  }

  .heading3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
  }

  .heading4 {
    font-family: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #364153;
  }

  .card {
    border: 1px solid #f3f4f6;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.08);
  }
}
